.higher{
    background-image: url('https://wallpapercosmos.com/w/full/f/6/f/1193592-3840x2160-desktop-4k-gengar-background-image.jpg');
    background-attachment:fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height:100%;

    display: flex;
    
    justify-content: center;
    font-size: 25px;
    
}
.nav{
    background-color: rgba(24, 214, 214, 0.8);
    
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    position: fixed;
}
.text{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-direction: column;
    width: 600px;
    height: 100%;
}

.img{
    width: 80%;
    padding-top: 50px;
}