.home{
    background-image: url('https://wallpapercosmos.com/w/full/4/c/b/1200228-3840x2160-desktop-4k-ghost-pokemon-wallpaper-image.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}