.higher{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    font-size: 30px;
    
}

.filter{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.order{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}