.higher{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    font-size: 30px;
    padding-bottom: 8px;
    width: 100%;
}

.filter{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.order{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.select{
    display: flex;
    margin-right: 55px;
}